input {
    height: 35px;
    border: 2px solid #ccc;
    width: 100%;
}

.ant-form-item {
    margin-bottom: 15px !important;
}

.primary-contained-btn {
    height: 40px;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
}

.primary-outlined-btn {
    background-color: white;
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
}
