.layout {
    padding: 15px;
    width: 100vw;
    height: 100vh;
}

.body {
    width: 100%;
}

.sidebar {
    background-color: var(--primary);
    padding: 15px;
    border-radius: 5px;
}

.header {
    background-color: var(--primary);
    padding: 10px;
    border-radius: 5px;
    color: white !important;
}